body{
    align-items: center;
    text-align: center;
	background-color: lightgrey;
}
canvas{
    border: 2px solid black;
	margin:auto;
}
#canvas{
	width: 100%;
	
}
.slider {
	width: 82%;

}
table{
    margin:auto;
    text-align: center;
    align-self: center;
	border: 1px solid black;
	width:100%;
	border-collapse: collapse;
}
tr{
	display: flex;
	align-items: center;
    text-align: center;

}
td{

	width:50%;
	border: 1px solid black;
	text-align: left;
}